* {
  box-sizing: border-box;
}

/* Đổi đơn vị px sang rem */

:root {
  --primary-text-color: #171100;
  --background-color: #fffcf4;
  --white-color: #ffffff;
}

html {
  font-size: 62.5%;
}
body {
  /* 1.6rem = 16px */
  font-size: 1.6rem;
  font-family: "Poppins", sans-serif;
}
/* common CSS */
a {
  text-decoration: none;
}
li {
  list-style: none;
}

/* header Section */

.header {
  background-color: var(--background-color);
  padding-top: 44px;
  padding-bottom: 44px;
}

.header .main-content {
  width: 1170px;
  margin-left: auto;
  margin-right: auto;
  /* short hand: margin: 0 auto; */
  max-width: calc(100% - 16px);
}

.header .body {
  display: flex;
  align-items: center; /* căn giữ theo trục dọc*/
}

.header nav {
  display: flex;
  margin-left: auto;
}

.header nav a {
  font-size: 1.6rem; /* tức là 16px */
  line-height: 28px;
  color: #5f5b53;
  padding-left: 21px;
  padding-right: 21px;
  /* ưu tiên sử dụng padding khi gặp click chọn điểm */
}
/* Pseudo class: lớp giả */
.header nav a:hover {
  text-shadow: 1px 0 0 currentColor;
  color: var(--primary-text-color);
}
.header nav a.active {
  font-weight: 600;
  color: var(--primary-text-color);
  position: relative;
}
/* Pseudo element */
.header nav a.active::after {
  content: "";
  width: 12px;
  height: 2px;
  border-radius: 1px;
  -webkit-border-radius: 1px;
  -moz-border-radius: 1px;
  -ms-border-radius: 1px;
  -o-border-radius: 1px;
  background: var(--primary-text-color);
  display: block;
  position: absolute;
  top: 23px;
  left: 22px;
}

.header .body .btn-sign-up {
  width: 144px;
  /* height: 50px; */
  line-height: 50px;
  background-color: var(--primary-text-color);
  color: var(--white-color);
  border-radius: 24.5px;
  -webkit-border-radius: 24.5px;
  -moz-border-radius: 24.5px;
  -ms-border-radius: 24.5px;
  -o-border-radius: 24.5px;
  text-align: center;
  margin-left: 49px;
}
